@charset "uft-8";

 /* Resposividade pagina home 'Content-one'   */



@media screen and (max-width: 768px) {

     .content-one {
        margin: auto 1% -20px;
        margin-top: 0px;
        width: 95vw;
        font-size: 2.2em;
        text-align: center;
       
    }

    .content-two {
        width: 80%;
    }

   /* TAG DE MARGIN CIMA, ESQUERDA, BAIXO, DIREITA  */


    .container .btn {
      margin: 40px auto 30px auto;
    } 

}