@charset "uft-8";

/* Resposividade pagina home 'Content-one'   */



@media screen and (max-width: 768px) {
    .container {
        height: 80vh;
    }

    #content-one {
        margin: auto 1% -20px;
        margin-top: 0px;
        width: 95vw;
        font-size: 2.1em;
        text-align: center;

    }

    #content-two {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        font-size: 1.4em;
    }

    /* TAG DE MARGIN CIMA, ESQUERDA, BAIXO, DIREITA  */


    .container #btn {
        margin: 40px auto 30px auto;
    }

    .container-two {
        flex-direction: column;
    }

    .container-two #title {
        margin-bottom: 20px;
    }

    #coffee-drink {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        width: 370px;
        height: 370px;
    }

    #coffee-drink img {
        width: 370px;
    }

    .box-container {
        display: flex;
        flex-direction: column;
    }

    .box-container-two {
        display: flex;
        flex-direction: column;
    }



}


/* Typical device break points
Celular: ate 600px
Tablet: 768px ate  992px
Desktop: 992px ate 1200px 
Tv: acima de 1200px 
*/

/* @media screen and (min-width: 600px){

    #burguer {
        display: none;
    }
    nav {
        display: block;
    }
    nav ul li {
        display: inline-block;
    }   

} */


/* MENU RESPONSIVO PARA APLICAR */

/*

header {
    background-color: gray;
}

#burguer {
    background-color: rgb(48, 48, 48);
    color: white;
    display: inline-block;
    position: relative;
    left: 92%;
    width: 5vw;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;

}

nav {
    display: none;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(78, 78, 78);
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}

nav ul li a:hover {
    background-color: gray;
} */


@media (min-width: 430px){

    ::-webkit-scrollbar {
        height: .2rem;
        width: .9rem;
    }

    html{
        font-size: 60%;
    }
}
@media (max-width: 600px){

    ::-webkit-scrollbar {
        height: .2rem;
        width: .9rem;
    }

    html{
        font-size: 60%;
    }
}

