@charset "uft-8";

/* Typical device break points
Celular: ate 600px
Tablet: 768px ate  992px
Desktop: 992px ate 1200px 
Tv: acima de 1200px 
*/


@media (max-width: 768px) {
    .container {
        height: 80vh;
    }

    #content-one {
        margin: auto 1% -20px;
        margin-top: 0px;
        width: 95vw;
        font-size: 2.1em;
        text-align: center;

    }

    #content-two {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        font-size: 1.4em;
    }

    /* TAG DE MARGIN CIMA, ESQUERDA, BAIXO, DIREITA  */


    .container #btn {
        margin: 40px auto 30px auto;
    }

    .container-two {
        flex-direction: column;
    }

    .container-two #title {
        margin-bottom: 20px;
    }

    #coffee-drink {
        margin-top: 20px;
        
    }


    .box-container {
        display: flex;
        flex-direction: column;
    }

    .box-container-two {
        display: flex;
        flex-direction: column;
    }

    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    }


    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .flex .navbar {
        text-align: center;
        width: 200px;
        position: absolute;
        top: 99%;
        left: 73%;
        right: 30;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .3s linear;
    }

    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .flex .navbar a {
        border-bottom: 1px solid;
        text-align: center;
        display: block;
        margin: 2rem;
    }
}

@media (max-width: 550px) {
    .header .flex .navbar {
        left: 63%;
    }
   
    #coffee-drink {
        margin-left: auto;
        margin-right: auto;

    }

}

@media (max-width: 450px) {
    html {
        font-size: 65%;
    }

    .heading img {
        height: 3rem;
    }

    .header .flex .navbar {
        text-align: center;
        width: 130px;
        position: absolute;
        top: 99%;
        left: 58%;
        right: 30;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .3s linear;
    }

    #coffee-drink img {
        margin: 0px 0px 0px 8px ;
    }


    #coffee-drink img {

        width: 85%;
    }


}