@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Passion+One&family=Sriracha&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Sriracha', cursive;

*/

*{
    margin: 0;
    padding: 0;
}

.logo img{
    width: 90px;
    position: relative;
    left: 10%;
    transform: translatex(170%);
}

nav {
    display: flex;
    background: gray;
}

.nav-links {
    display: inline-flex;
    gap: 50px;
    position: relative;
    left: 50%;
    top: -50%;
    transform: translateY(40%);
    list-style: none;
    
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}
.container {
    width: 1200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    
}
