@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Passion+One&family=Sriracha&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Sriracha', cursive;font-family: 'Sriracha', cursive;

*/

:root {
    --bg-color: #be9c79;

}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #be9c79;
}

.logo img {
    left: 5%;
    position: absolute;
    transform: translateY(05%);
    width: 200px;
}

nav {
    background: rgb(152, 152, 152);
    box-shadow: inset 2px 6px 13px 0px rgba(0, 0, 0, 0.521);
    display: flex;
    height: 65px;
    position: fixed;
    width: 100vw;
}

.nav-links {
    display: inline-flex;
    gap: 50px;
    left: 62%;
    list-style: none;
    position: relative;
    top: -05%;
    transform: translateY(40%);
}

.nav-links a {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a:hover {
    color: orange;
    transition: all .3s;
}

.container {
    align-items: center;
    background: url(../img/bg-img.jpg) no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    height: 768px;
    margin: 0;
    width: 98, 5vw;
}

.conteudo {
    margin-left: 10%;
    width: 45%;
}

.conteudo h3 {
    font-size: 4em;
    font-family: 'Sriracha', 'cursive';
    margin-bottom: 20px;
    color: white;
}

.conteudo p {
    font-size: 1.2em;
    color: white;
}

.conteudo .btn {
    display: inline-block;
    margin: 20px;
    /* border: 1px solid black; */

}

.conteudo .btn a {
    text-decoration: none;
    border-radius: 14px;
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #be9c79;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.conteudo .btn a:hover {
    background-color: rgba(255, 255, 255, 0.144);
    color: black;
    transition: .7s;

}

.container-2 {
    background-color: #ffffff;
    width: 98, 5vw;
    height: 768px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    margin: 0;
}

.container-2 .image {
    width: 300px;
}





/* 
.container3 {
    background-color: #be9b7988;
    width: 98, 5vw;
    height: 768px;
    border: 1px solid black;


}

.box-container {
    display: inline-flex;
    width: 98, 5vw;
    height: 768px;

}

.galeria {
    width: 98, 5vw;
    height: 768px;

}

.galeria img {
    width: 300px;
    height: 300px;

} */