@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');


/* 
font-family: 'Inter', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Sriracha', cursive;
font-family: 'Merienda One', cursive;

*/

:root {
    --bg-color: #be9c79;

}

* {
    margin: 0;
    padding: 0;
    
}



.logo img {
    left: 5%;
    position: absolute;
    transform: translateY(05%);
    width: 200px;
}

nav {
    background-color: gray;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.479);
    display: flex;
    height: 65px;
    width: 100%;
}

.nav-links {
    display: inline-flex;
    gap: 50px;
    left: 35%;
    list-style: none;
    position: relative;
    top: -05%;
    transform: translateY(40%);
}

.nav-links a {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: orange;
    transition: all .3s;
}


.container {
    color: white;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../img/bg-img1.png) no-repeat;
    background-position: left center;
    background-size: cover;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.479);
    height: 700px;

}

#content-one {
    align-self: start;
    margin: -70px 12% -20px;
    /* font-family: 'Sriracha', cursive; */
    font-family: 'Merienda One', cursive;
    color: white;
    font-size: 3em;
}

#content-two {
    font-family: 'Nunito', sans-serif;
    align-self: start;
    margin-left: 12%;
    text-align: start;
    width: 60%;
    font-size: 1.4em;
    margin-top: 5px;
}

.container #btn {
    align-self: start;
    margin-top: 40px;
    margin-left: 23%;
    width: 150px;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 10px;
}

.container #btn a {
    background-color: orange;
    border-radius: 10px;
    color: white;
    display: flex;
    font-family: 'Passion One', cursive;
    font-size: 20px;
    justify-content: center;
    padding: 11px 30px 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    width: 90px;

}

.container #btn a:hover {
    background-color: rgba(247, 206, 129, 0.986);
    color: black;
    transition: .4s;
}

.container-two {
    background-color: #be9c79;
    display: flex;
    flex-direction: row-reverse;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#title {
    margin: auto;
    text-align: center;
    width: 90%;

}

#title h1 {
    margin-top: 30px;
    font-size: 3.2em;
}

#title h2 {
    font-size: 2.0em;
    margin-bottom: 30px;
}

#title p {
    font-size: 1.3em;
    text-align: justify;
}

#coffee-drink {
    margin: 30px 0px 20px 40px;
    align-self: flex-start;
    border-radius: 15px;
    width: 350px;
    height: 350px;
}

#coffee-drink img {
    width: 350px;
    border-radius: 15px;
    border: 1px solid orange;
}

#title #btn {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 10px;
}

.container-two #btn a {
    background-color: orange;
    border-radius: 10px;
    color: white;
    display: flex;
    font-family: 'Passion One', cursive;
    font-size: 20px;
    justify-content: center;
    padding: 11px 30px 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    width: 90px;

}

.container-two #btn a:hover {
    font-family: 'Passion One', cursive;
    color: black;
    transition: .4s;
}


.container-tree {
    display: flex;
    flex-direction: column;

}

.variedades {
    align-self: center;


}

.variedades h1 {
    font-family: 'Sriracha', cursive;
    margin: 5px;
    text-align: center;
    font-size: 4em;
}

.variedades img {
    width: 390px;
    border-radius: 10px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.box {
    margin: auto;
    border: 1px solid;
    width: 200px;
    text-align: center;
    padding: 20px 10px 10px 10px;

}

.box img {
    width: 130px;
    padding: 10px;
    border: 1px solid;
}

.box-container-two {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}

.box-container-two .box {
    margin: auto;
    border: 1px solid;
    width: 200px;
    text-align: center;
    padding: 20px 10px 10px 10px;

}